<link rel="stylesheet" href="layout.css" />

<div class="wrapper">
    <header class="header--sticky">
        <div class="container">
            <div class="logo">
                {$logo}
            </div>

            <nav>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown current_menu">
                        <a href="LINK" class="first_a">
                            TEST
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="LINK">TEST</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown current_menu">
                        <a href="LINK" class="first_a">
                            TEST
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="LINK">TEST</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="contents">
        {$content}
    </div>

    <footer>
        <div class="container">
        </div>
    </footer>
</div>